<!-- Mia Batista -->
<!-- voter_analytics/voter_detail.html -->
 <!-- shows the details of one voter -->


{% extends 'voter_analytics/base.html' %}
 
 
{% block content %}
<div class="container">
    <h1>Showing Result for {{voter.first_name}} {{voter.last_name}}</h1>
    
    <p>
        <strong>Address:</strong>
            {{ voter.street_number }} {{ voter.street_name }}
            {% if voter.apartment_number %} 
                Apt {{ voter.apartment_number }}
            {% endif %}
            {% if voter.zip_code %}, 
                {{ voter.zip_code }}   
            {% endif %}
            &nbsp;•&nbsp;

        <a class="btn" target="_blank"
            href="https://www.google.com/maps/search/{{ maps_query|urlencode }}">
            Open in Google Maps
        </a>
    </p>

<ul>
    <li><strong>Party:</strong> {{ voter.party }}</li>
    <li><strong>Precinct:</strong> {{ voter.precinct }}</li>
    <li><strong>Date of Birth:</strong> {{ voter.date_of_birth}}</li>
    <li><strong>Date of Registration:</strong> {{ voter.date_of_registration}}</li>
    <li><strong>Voter Score:</strong> {{ voter.voter_score }}</li>
</ul>

<h3>Election Participation</h3>
<ul>
  <li>2020 State: {{ voter.v20state }}</li>
  <li>2021 Town: {{ voter.v21town }}</li>
  <li>2021 Primary: {{ voter.v21primary }}</li>
  <li>2022 General: {{ voter.v22general }}</li>
  <li>2023 Town: {{ voter.v23town }}</li>
</ul>



</div>
<p><a class="btn" href="{% url 'voters' %}">← Back to all voters</a></p>
 
{% endblock %}