
{% extends 'hw/base.html' %}
<!-- loads function called static -->

{% block content %}
    <h1>About this page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum enim, inventore odit deleniti repellendus ad cum ea esse dolore optio assumenda natus neque eligendi harum, exercitationem quo laudantium libero fugit!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque beatae eaque nobis praesentium eveniet veniam fugiat exercitationem magnam cum rerum? Est quia perferendis, temporibus sequi expedita eligendi illum incidunt non?
    </p>
{% endblock %}