<!-- dadjokes/random.html -->
<!-- displays the jokes + pictures at random -->
<!-- Mia Jolie Batista -->

{% extends "dadjokes/base.html" %}
{% block content %}
<h1>Random Dad Joke & Picture</h1>
<div class="card">
  {% if joke %}
    <p>{{ joke.text }}</p>
    <p class="muted">— {{ joke.name }} -- {{ joke.timestamp|date:"M j, Y g:ia" }}</p>
  {% else %}
    <p>No jokes yet.</p>
  {% endif %}
</div>
<div class="card">
  {% if picture %}
    <img src="{{ picture.image_url }}" alt="Silly"/>
    <p class="muted">— {{ picture.name }} • {{ picture.timestamp|date:"M j, Y g:ia" }}</p>
  {% else %}
    <p>No pictures yet.</p>
  {% endif %}
</div>
{% endblock %}
