<!-- templates/base.html -->
<!-- Mia Batista -->


{% load static %}
<html>
    <head>
        <title>TV TRACKER</title>
        <link rel="stylesheet" href="{% static 'project.css' %}">
    </head>
    <body class="nt-body">
        <header class="nt-header">
        <div class="nt-logo">
            <a href="{% url 'home' %}">TV<span>Trackr</span></a>
        </div>

        <nav class="nt-nav">
            <a href="{% url 'show_list' %}">Shows</a>
            <a href="{% url 'list_list' %}">Lists</a>
            <a href=" {% url 'viewer_profile'%}">Profile</a>
        </nav>

        <div class="nt-user">
            {% if request.user.is_authenticated %}
                <span class="nt-user-name">
                    {{ request.user }}
                </span>

                <form action="{% url 'logout' %}" method="POST" class="nt-logout-form">
                    {% csrf_token%}
                    <button type="submit" class="nt-auth-link nt-logout-link">
                        Logout
                    </button>
                </form>
            {% else %}
                <a class="nt-auth-link" href="{% url 'login' %}">Log in</a>
                <a class="nt-auth-link" href="{% url 'signup' %}">Sign up</a>
            {% endif %}
        </div>
        
        </header>

        <main class="nt-main">
        {% block content %}
        {% endblock %}
        </main>
    </body>
</html>
