<!-- list_detail.html -->
<!-- Mia Batista -->

{% extends "project/base.html" %}

{% block content %}
  <div class="nt-panel">
    <h2>{{ list.title }}</h2>
    <p class="nt-small">By 
      <a href="{% url 'viewer_public_profile' list.viewer.pk %}" class="nt-user-link">
              {{ list.viewer.display_name }}
      </a>
    </p>


    <p>{{ list.description }}</p>

    {% if request.user.is_authenticated and list.viewer == request.user.viewer %}
      <div class="nt-detail-actions">
        <a href="{% url 'list_update' list.pk %}" class="nt-btn nt-btn-secondary">Edit list</a>
        <a href="{% url 'list_delete' list.pk %}" class="nt-btn nt-btn-tertiary">Delete list</a>
        <a href="{% url 'listentry_create' list_id=list.pk %}" class="nt-btn nt-btn-primary">
          + Add show to this list
        </a>
      </div>
    {% endif %}
  </div>

  <section class="nt-detail-section">
    <h3>Shows in this list</h3>

    <div class="nt-show-grid">
    
      {% for entry in entries %}
        <div class="nt-card">
          <a href="{% url 'show_review_page' entry.show.pk %}" >
          {% if entry.show.poster_image %}
            <div class="nt-card-image-wrapper">
              <img src="{{ entry.show.poster_image.url }}" alt="{{ entry.show.title }}">
            </div>
          {% else %}
            <div class="nt-card-placeholder">
              {{ entry.show.title }}
            </div>
          {% endif %}
          <div class="nt-card-meta">
            <span class="nt-card-title">{{ entry.show.title }}</span>
            <span class="nt-card-sub">
              {{ entry.show.release_year }} • {{ entry.show.genre }}
            </span>
            {% if request.user.is_authenticated and list.viewer == request.user.viewer %}
              <a href="{% url 'listentry_delete' entry.pk %}">Delete</a>
            {% endif %}
          </div>
          </a>
      </div>
      {% empty %}
        <li>No shows in this list yet.</li>
      {% endfor %}
  </div>
  </section>
{% endblock %}
