{% extends "restaurant/base.html" %}

{% block content %}

    <h2>Order Confirmation</h2>

    <div class="card">
    
    <h3>Customer</h3>
    <div class="menu">
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Phone:</strong> {{ phone }}</p>
        <p><strong>Email:</strong> {{ email }}</p>
    </div>
    

    <h3>Items</h3>

    <!-- where all the items will be displayed  -->
        {% if items %}
            <ul class="order-list">
            {% for dish in items %}
                <li class="order-row">
                    <div class="item-main">
                        <div class="item-name">
                            <strong>{{ dish.name }}</strong>
                            <!-- if the customer chose to put toppings on their pizza -->
                            {% if dish.options and dish.options|length > 0 %}
                                — Options:
                                <!-- accessing order dictionary -->
                                {% for chosen in dish.options %}
                                    <div class="item-options">{{chosen}}</div>
                                {% endfor %}
                            {% endif %}
                            <div class="item-price">${{ dish.price|floatformat:2 }}</div>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <div class="order-total">
                <div>Total</div>
                <div>${{ total }}</div>
            </div>

        {% else %}
            <p>No items were selected.</p>
        {% endif %}

    <!-- ready time block -->
    <h3 class="order-section-title">Ready Time</h3>
    <div class="order-meta">
        <div class="row">
            <div class="order-value">
                Your cauldron will bubble in about {{ minutes_out }}
                minutes (around {{ ready_at }}).
            </div>
        </div>
    </div>

    <!-- instructions block-->
    {% if instructions %}
    <h3 class="order-section-title">Special Instructions</h3>
        <div class="order-meta">
            <div class="row">
                <div class="order-label">Notes —> </div>
                <div class="order-value">
                    <div class="order-note">{{ instructions }}</div>
                </div>
            </div>
        </div>    
    {% endif %}
        

        <p><a class="btn" href="{% url 'order_page' %}">Place another order</a></p>
    </div>
    {% endblock %}
