{% extends 'restaurant/base.html' %}
<!-- loads function called static -->

{% block content %}
    <div class="card">

        <h1>Welcome to The Spooky Spoon!</h1>
            <div class="images">
                <img src="https://media.architecturaldigest.com/photos/638a69630edec8ebb648882a/16:9/w_2240,c_limit/%20Episode%20101%20of%20Wednesday.%20Cr.%20Courtesy%20of%20Netflix%20%C2%A9%202022jpg.jpg" alt="restaurant">
            </div>

        <h3>Hours</h3>
        <div class="center">
            <ul class="hours-block">
            {% for day, span in hours %}
            <li><strong>{{ day }}:</strong> {{ span }}</li>
            {% endfor %}
        </ul>
        </div>
        

        <p class="center">Welcome to the Bed and Breakfast located at the {{location}}! Enter if you dare...</p>
        
        

    </div>

{% endblock %}