{% extends "restaurant/base.html" %}

{% block content %}
    <section class="card">
           


        <form action="{% url 'confirmation_page' %}" method="post">
            {% csrf_token %}


            <h1>Halloween Menu</h1>



            <div class="menu">

            
            <!-- PIZZA, dispalying the checkbox with the spooky name -->
                <label class="menu-item">
                    <input type="checkbox" name="order_pizza">
                    {{ menu.pizza.label }} —> ${{ menu.pizza.price }}
                </label>
                {% if menu.pizza.options %}
                    <div class="options">
                    <!-- for loop to present all the options for the pizza! -->
                        <span>Options:</span>
                            {% for topping in menu.pizza.options %}
                                <label><input type="checkbox" name="pizza_options" value="{{ topping }}"> {{ topping }}</label>
                            {% endfor %}
                    </div>
                {% endif %}

                <!-- BURGER, dispalyng the checkbox with the spooky name -->
                <label class="menu-item">
                    <input type="checkbox" name="order_burger">
                    {{ menu.burger.label }} —> ${{ menu.burger.price }}
                </label>
                

                <!-- SALAD, dispalyng the checkbox with the spooky name -->
                <label class="menu-item">
                    <input type="checkbox" name="order_salad">
                    {{ menu.salad.label }} —> ${{ menu.salad.price }}
                </label>

                <!-- FRIES, dispalyng the checkbox with the spooky name -->
                <label class="menu-item">
                    <input type="checkbox" name="order_fries">
                    {{ menu.fries.label }} —> ${{ menu.fries.price }}
                </label>

                <!-- SPECIAL -->
                <label class="menu-item special">
                    <input type="checkbox" name="item_special">
                        Daily Special: <strong>{{ special.special_order }}</strong> — ${{ special.price }}
                    <div class="muted">{{ special.details }}</div>
                </label>
                <!-- Hidden -->
                    <input type="hidden" name="special_name" value="{{ special.special_order }}">
                    <input type="hidden" name="special_price" value="{{ special.price }}">
            
            </div>


            <h3>Customer Info</h3>
            <label>Full Name
                <input type="text" name="name" required>
            </label>
            <label>Phone
                <input type="tel" name="phone" required>
            </label>
            <label>Email
                <input type="email" name="email" required>
            </label>


        <label>Special Instructions
                <textarea name="instructions" rows="3" placeholder="e.g., no garlic (for vampires), leave at door, etc."></textarea>
        </label>

            <button type="submit" class="btn">Submit Order</button>
        </form>
    </section>
{% endblock %}
