<!-- blog/show_all.html -->
{% extends 'blog/base.html' %}

{% block content %}
<h1>Showing all Articles</h1>
<!-- 
{{articles}} -->

<main class="grid-container">
    <!-- scriplet code for a for loop -->
    {% for article in articles %}
        <article>
            <div>
                <h2>{{article.title}}</h2>
                <h3>by {{article.author}}</h3>
                <p>
                    {{article.text}}
                </p>
            </div>
            <a href="{% url 'article' article.pk %}">
                <!-- passing primary key into the article function -->
                <!-- <img src="{{article.image_file.url}}" alt="hey!"> -->
                {% if article.image_file %}
                    <img src="{{article.image_file.url}}" alt="hey!">
                {% else %}
                    <h3> NO IMAGE</h3>
                {% endif %}
            </a>
        </article>


    </main>
{% endfor %}


{%endblock%}