{%load static%}
<html>
    <!-- <div class = "wrapper"> -->
        <head>

            <title>Michael Scott</title>
            <link rel="stylesheet" href="{% static 'michael.css' %}" >
        </head>

        <body>
            <header class = "site-header">
                <nav class="main-nav">
                    <ul>
                        <li><a href= "{% url 'quote_page' %}">Quote of the Day</a></li>
                        <li><a href="{% url 'show_all_page' %}">Show All</a></li>
                        <li><a href="{% url 'about_page' %}">About</a></li>
                    </ul>
                </nav>
            </header>
                <main class = "container">
                    {% block content %}
                    {% endblock %}
                </main>
            <!-- put page speciifc content here -->
           

            <footer >
                <p class="site-footer">Page created by miajolie@bu.edu </p>
            </footer>
            
        </body>
            
    <!-- </div> -->
</html>