{% extends 'quotes/base.html' %}
<!-- loads function called static -->

{% block content %}
    <div class = "border">
        <h1>All Quotes by {{person}}</h1>
    <!-- make an <ul> that wraps the for loop and executes seperate <li> -->
        <div class = quotes>
            <ul> 
                {% for q in quote %}
                    <p>“{{ q }}”</p>
                {% endfor %}
            </ul>
        </div>
        
    <h1>All Images by {{person}}</h1>
    <!-- div wrapper that uses for loop that "returns" each image <img src= alt=>-->
        <div class = "image-grid">

                {% for img in image %}
                    <img src = "{{img}}" alt = "{{person}}">
                {% endfor %}

        </div>
    </div>
    
{% endblock %}