{%load static%}


<html>
    <head>
        <title>Our Blog</title>
        <link rel="stylesheet" href="{% static 'severance.css'%}">
    </head>

    <body>
        <header class="site-header">
            <div class="site-header-inner">
                <h1 class="site-title">Lumon Insta</h1>
            <nav>
                <ul>
                    <li><a href = "{% url 'random'%}">Random</a></li>
                    <li><a href = "{% url 'show_all'%}">Show All</a></li>
                </ul>
            </nav>
            </div>
            
        </header>
 
 
       <!-- substitute in the specific content here-->
        <main>
        {%block content%}
        {% endblock%}
        </main>
       
    </body>
    <footer>The Offical Social Page for those who Praise Kier!</footer>
</html>