{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="post-page">
    <h1>Create a new Post for {{ profile.display_name}}</h1>

    <form method="POST" action="{% url 'create_post' %}" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}  

    <!-- section for image url that is not included in the form -->
    <!-- <p>
        <label for="id_image_url">Image URL</label>
        <input type="url" name="image_url" id="id_image_url">
    </p> -->

    <!-- Now can upload multiple photos -->
     <p class="form-row">
      <label for="files">Upload image(s)</label>
      <input id="files" type="file" name="files" multiple>
      <span class="helptext">You can select one or more images.</span>
    </p>

    <button type="submit" class="btn">Post</button>
    <a class="btn" href="{% url 'show_profile' profile.pk %}">Cancel</a>
    </form>

</main>

{% endblock %}
