<!-- blog/templates/base.html -->
{% extends 'mini_insta/base.html' %}
 
 
{% block content %}
<!-- This basic authentication form works.
- need to set "next" to redirect to correct page.
-->
 
 
<h1>Login to our blog</h1>
<form method="post" action="{% url 'login' %}" >
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Login">
    <!-- This basic login form works, but after login in
     assumed the existance of a page at /registration/profile, which
     does not exist.  -->
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
    {% else %}
        <input type="hidden" name="next" value="{% url 'my_profile' %}">
    {% endif %}
</form>
<hr>
<h3> Hint:</h3>
<h4> Login: hellyR </h4>
<h4> Password: miajolie0912</h4>
<!-- Don't have an account? <a href="{% url 'register' %}">Register here</a>. -->

{% endblock %}