<!-- html for showing the individual profile -->

{% extends 'mini_insta/base.html' %}

{% block content %}

<main class="profile-page">

  <section class="profile-wrap">
    <div class="avatar-wrap">
      <img
        src="{{ profile.profile_image_url }}"
        alt="{{profile.display_name}}'s profile photo">
    </div>

    <div class="profile-meta">
      <h1 class="display-name">
        {{ profile.display_name}}
      </h1>

        <p class="username">@{{ profile.username }}</p> 
        <p class="bio">{{ profile.bio_text}}</p>

        <!-- stats to be filled in future assignments -->
      <ul class="stats">
        <li>
          <span class="stat-number">TBD</span>
          <span class="stat-label">Followers</span>
        </li>
        <li>
          <span class="stat-number">TBD</span>
          <span class="stat-label">Following</span>
        </li>
        <li>
          <span class="stat-number">{{profile.get_all_posts.count}}</span>
          <span class="stat-label">Posts</span>
        </li>
      </ul>
       <p class="join">Member since {{ profile.join_date}}</p>


      <div class="actions">
        <a class="btn" href="{% url 'show_all_profiles' %}">← Back to all profiles</a>

        <a class="btn" href="{% url 'update_profile' profile.pk %}">Edit Profile</a>
      </div>
    </div>
  </section>

  <!-- where all posts will live -->
  <section class="profile-posts">
    <h2>Posts by {{ profile.display_name }}</h2>

    <div class="posts-grid">
     
      {% for post in profile.get_all_posts %}
        <article class="post-card">

          <a class="post-media" href="{% url 'show_post' post.pk %}">
            <!-- 'with' creates a temperary variable i can use inside the block until endwith -->
            
            {% with first=post.get_all_photos.first %}
              {% if first %}
              <!-- first = photo object, so accessing that objects field! -->
                <img src="{{ first.get_image_url }}" alt="Photo">
              {% else %}
                <img src="https://media.tenor.com/6ebackS1P9wAAAAe/dog-staring.png" alt="No image available">
              {% endif %}
            {% endwith %}
 
          </a>
          <div class="post-meta">
            <p class="caption">{{ post.caption|default:"(no caption)" }}</p>
          </div>
        </article>
      {% empty %}
        <p class="muted">No posts yet.</p>
      {% endfor %}
    </div>
  </section>

</main>
{% endblock %}