<!-- mini_insta/show_all_profile.html -->
 <!-- Show all the profiles using a for loop -->
{% extends 'mini_insta/base.html' %}

{% block content %}
<!-- <h1>Loyal Subjects of Kier</h1> -->


<main class="grid-container">
    <!-- scriplet code for a for loop -->
    {% for profile in profiles %}
        <profile>
            <div>
                <a href="{% url 'show_profile' profile.pk %}">
                    <h2>{{profile.username}}</h2>
                    <h3>by {{profile.display_name}}</h3>
                </a>
            </div>
                <!-- wrap the image in a link to show the individual profile -->
                <a href="{% url 'show_profile' profile.pk %}">
                    <img src = "{{profile.profile_image_url}}" alt="profile">
                </a>
        
        </profile>

        {% endfor %}
</main>

{%endblock%}