<!-- blog/show_all.html -->
{% extends 'mini_insta/base.html' %}

{% block content %}
<!-- <h1>Loyal Subjects of Kier</h1> -->


<main class="grid-container">
    <!-- scriplet code for a for loop -->
    {% for profile in profiles %}
        <profile>
            <div>
                <h2>{{profile.username}}</h2>
                <h3>by {{profile.display_name}}</h3>
            </div>
            <img src = "{{profile.profile_image_url}}" alt="profile">
        </profile>

        {% endfor %}
</main>

{%endblock%}