<!-- update_post_form.html -->
<!-- form template that will alow user to update the post beloning to a profile -->

{% extends 'mini_insta/base.html' %}
{% block content %}

    <main class="post-page">
        <h1 class="page-title">Update Post</h1>
        <form method="POST" class="form-card simple-form">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="actions">
                <button type="submit" class="btn">Save</button>
                <a class="btn" href="{% url 'show_post' object.pk %}">Cancel</a>
            </div>
        </form>
    </main>

{% endblock %}
